html, body {
    margin: 0;
    height: 100%;
}

form.new-post {
    margin-top: 100px;
}

form.new-post input, textarea {
    width: 100% !important;
    color: #444;
    border: none;
    outline: none;
    background: transparent;
}

form.new-post input[name="title"] {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 3em;
}

form.new-post textarea {
    resize: none;
    font-size: 1.7em;
    padding: 0;
}

input[name="tags"] {
    padding: 10px;
    font-size: 25px;
    font-family: "Open Sans";
    font-weight: bold;
}

.actions {
    position: fixed;
    top: 20px;
    right: 20px;
}

.actions button {
    border: none;
    border-radius: 32px;
    font-size: 30px;
    cursor: pointer;
    background: #bdc3c7;
    width: 40px;
    height: 40px;
    color: #444;
    outline: none;
}

/* Night theme */
body.night-theme {
    background: #444;
}

body.night-theme form.new-post input,
body.night-theme form.new-post textarea {
    color: white;
}

/* Scrollbars */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #A9A9A9;
}
