- config = config || {};
- config.options = config.options || {};
- config.options.customJS = config.customJS || [];
- config.options.customCSS = config.customCSS || [];
- config.analytics = config.analytics || {};

- config.blog = config.blog || {};
- config.site = config.site || {};
- config.user = config.user || {};

- data = data || {};
- data.post = data.post || {};
- data.post.tags = data.post.tags || [];

- data.menu = data.menu || {};
- data.menu.active = data.menu.active || {};
- data.menu.pages = data.menu.pages || [];

- data.posts = data.posts || [{ tags: ["tag1", "tag2"] }];
- data.page = data.page || {};

doctype html
html(lang="en")
  include head.jade
  body
    - // Article
    - if (type === "article") {
      include article.jade
    - // Blog
    - } else if (type === "blog") {
      include blog.jade
    - // Other pages
    - } else if (type === "sitePage") {
      include page.jade
    - }

    include footer.jade
    script InstantClick.init()
