- config.themeData.social = config.themeData.social || {};
- var Moment = require(config.pathContent + config.theme + "/node_modules/moment")
.top-header.bg-black
  a(href=config.blog.path)
    img.rounded(src="/images/me-s.png")
    h1= config.site.title

.container
  .single-article-wrapper
    - var cArticle = data.article;
    include article-content

include footer.jade
