- var Moment = require(config.pathContent + config.theme + "/node_modules/moment")
include top-content.jade
.container
  .content
    - for (var i in data.articles) {
    -  var cArticle = data.articles[i];
    include article-content
    - }
    .pagination
      - if (data.page.previous) {
      a.page.prev(href=config.blog.path + '/page/' + data.page.previous)
        i.fa.fa-angle-left
        = " "
        | Newer articles
      - }
      - if (data.page.previous || data.page.next) {
      span.current-page
        | Page #{data.page.active} of #{data.page.count}
      - }
      - if (data.page.next) {
      a.page.next(href=config.blog.path + '/page/' + data.page.next)
        | Older articles
        = " "
        i.fa.fa-angle-right
      - }

include footer.jade
