- config.themeData.social = config.themeData.social || {};
footer.pad-xl.bg-black
  .container.text-center
    | &copy; #{new Date().getFullYear()}
    = " "
    strong #{config.site.title}
    = " | "
    | Created
    = " "
    | with
    = " "
    span.fa.fa-heart
    = " "
    | by
    = " "
    a(href="http://ionicabizau.net") Ionică Bizău
