div.header
  div.text-center
    img(src="/images/logo.png").rounded
    h1 !{config.site.title}
    h2 !{config.site.description}
  - if (data.menu.pages.length) {
  ul.pages.text-center
    - for (var i in data.menu.pages) {
    -   var cPage = data.menu.pages[i];
    -   var classes = "page" + (cPage.slug === data.menu.active.slug ? " active" : "");
    li(class=classes)
        a(href=cPage.path)= cPage.title
    - }
  - }
