header.bg-black
  .container.text-center
    - var headingTitle = config.themeData.headingTitle || config.site.title;
    h1.monospace.title !{headingTitle}
    p.description !{config.site.description}
    p.installation.monospace
      span.dolar.no-select $
        = " "
      span.command npm install share-term -g
- if (data.menu.pages.length) {
menu
  .container.text-center
    - for (var i in data.menu.pages) {
    -   var cPage = data.menu.pages[i];
    -   var classes = "page" + (cPage.slug === data.menu.active.slug ? " active" : "");
    a(href=cPage.path, class=classes)= cPage.title
    - }
- }
